#RENAME DATA FOLDER
data/*
!data/_dataEval/
report/
.conda/
.ssh/
anaconda3/
tmp/
.bash_profile
.bashrc
outputs.csv/
maybe_sub.csv
model_angle.model.keras
model_speed.model.keras
outputs.csv
ppxmg5@mlis.nottingham.ac.uk
previous.csv
submission.csv
tester.py
mlis_machine_file_scott_test.py
scott_Tests.py
placeholder.py
ppxmg5@mlis1.nottingham.ac.uk
GradCAM.py
best_version.py
bad_angles.txt
scott_test_2.py
test_data_2/
mlis_machine_file_scott.py
data_2/
mlis_best+hsv.py
mlis_best_model.py
mlis_best+hsv4angle.py
mlis_combo_scott.py
mlis_hsv_scott.py
mlis_scott_test_2.py
mlis_best_scott.py
scott_angle_outputs.csv/
scott_predictor.jpynb
scott_speed_outputs.csv
combined_data.zip
test_combined_data.zip
combined/
test_combined/
combined
test_combined
Copy of car_live_TPU.jpynb
restructured_data_scott.py
car_live_from_ex.py
s1_mobilenet_v2_1.0_224_quant.tflite
s1_mobilenet_v2_1.0_224.tflite
Scott_car_ang_2_-checkpoint.ipynb
transfer_with_resnet_v2_4-live.py
Scott_live_3-checkpoint.ipynb
scott_live_2-checkpoint.ipynb
scott_car_ang-checkpoint.ipynb
trans_Mnet_experiment.py

Resizer_1-checkpoint.ipynb
scott_live_angle_test-checkpoint.ipynb
mobilenet_v2_1.0_224_quant.tflite
mobilenet_v2_1.0_224.tflite
.DS_Store
Resizer_1-checkpoint.ipynb
restructured_data_scott-checkpoint.py
Scott_car_ang_2_-checkpoint.ipynb
model.py
SC-M-mobilenet_v2_1.0_224_quant.tflite
first_mobilenet_v2_1.0_224_quant.tflite
BC-M-mobilenet_v2_1.0_224_quant.tflite
second_mobilenet_v2_1.0_224_quant.tflite
mobilenet_v2_1.0_224_quant.tflite copy
mobilenet_v2_1.0_224.tflite copy
mobilenet_v2_1.0_224_quant_edgetpu.tflite
*report/

base/
better_than_a_tesla_MHC/
better_than_a_tesla_MHR/
better_than_a_tesla_class/
better_than_a_tesla_reg/
models/
base/
better_than_a_tesla_class
better_than_a_tesla_MHC
better_than_a_tesla_MHR
better_than_a_tesla_reg
models
